body{
	width: 960px;
}
.copyrights{
	text-align: left;
	font-family: arial black bold ;
	font-size: 12pt;

}
.myfooter{

}
.mypagi{
	margin-left: 20px;
	margin-top: 30px;
}
.wrapper{
	width: 960px;
	display: inline-block;
}